.about {
    background-color: var(--bg-main-grey);
    padding: 60px 0 100px 0;
    text-align: center;
    color: var(--color-main-black);
}

.about-title {
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 42px 0;
}

.about-subtitle-ru,
.about-subtitle-en {
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto 15px;
    max-width: 780px;
}

.about-description-ru,
.about-description-en {
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto 15px;
    text-align: justify;
}

.about-subtitle-en {
    margin: 15px auto 15px ;
}

.about-description-en {
    margin: 0 auto;
}