* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-main);
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

h1, h2, p {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 970px;
    padding: 0px 10px;
}

.divider {
    width: min(420px, 100%);
    height: 1px;
    background-color: var(--color-main-grey);
    border: none;
    margin: 0 auto;
}
