@import url(styles/basic.css);
@import url(styles/variables.css);
@import url(styles/header.css);
@import url(styles/mobile_nav.css);
@import url(styles/quality.css);
@import url(styles/test-managment.css);
@import url(styles/process-managment.css);
@import url(styles/recommendations.css);