* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-main);
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

