.contact-us {
    padding: 160px 0 160px 0;
    text-align: center;
}

.contact-us-text-block {
    & > h2, p {
        margin: 0;
    }
    & > h2 {
        font-size: 48px;
        line-height: 32px;
    }
    & > p {
        font-size: 18px;
        line-height: 32px;
        padding: 20px 0 30px 0;
    }
    .contact-us-button {
        margin: 0;
        padding: 25px 40px;
        font-size: 24px;
        line-height: 20px;
        border-radius: 8px;
    }
}

@media (width < 1000px) {
    .contact-us {
        padding: 90px 20px 82px 20px;
    }
    .contact-us-text-block {
        & > h2 {
            font-size: 36px;
        }
        & > p {
            font-size: 14px;
            line-height: 25px;
            padding: 12px 0 20px 0;
        }
        .contact-us-button {
            padding: 11px 20.5px;
            font-size: 16px;
        }
    }
}