.footer {
    background-color: var(--bg-button-color);
    padding: 80px 0 70px 0;
    .footer-flex-block {
        display: flex;
        justify-content: space-between;
        & > .text-block h2, p {
            margin: 0;
        }
        & > .text-block h2 {
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            color: var(--text-color-button);
        }
        & > .text-block p {
            font-size: 18px;
            line-height: 32px;
            font-weight: 500;
            margin: 24px 0 24px 0;
            color: var(--text-footer-color);
        }
    }
}

.footer-flex-block-copyright {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    & > .copyright-text h2 {
        margin: 0;
        font-size: 18px;
        line-height: 32px;
        font-weight: 500;
        color: var(--text-footer-color);
    }
}
.socials {
    display: flex;
    gap: 16px;
}

@media (width < 1200px) and (width > 1000px) {
    .footer {
        padding: 80px 60px 70px 60px;
    }
}

@media (width < 1000px) {
    .footer {
        padding: 80px 77px 77px 20px;
    }
    .footer-flex-block {
        flex-direction: column;
        & > .text-block {
            margin-top: 50px;
        }
        & > .text-block:nth-child(1) {
            margin: 0;
        }
    }
    .footer-flex-block-copyright {
        flex-direction: column;
        .copyright-text {
            order: 2;
            margin-top: 60px;
        }
    }
}