.footer {
    background-color: var(--bg-button-color);
    padding: 80px 0 70px 0;
    .footer-flex-block {
        display: flex;
        justify-content: space-between;
        & > .text-block h2, p {
            margin: 0;
        }
        & > .text-block h2 {
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            color: var(--text-color-button);
        }
        & > .text-block p {
            font-size: 18px;
            line-height: 32px;
            font-weight: 500;
            margin: 24px 0 24px 0;
            color: var(--text-footer-color);
        }
    }
}