.header {
    padding: 35px 20px 0 30px;
    background-image: url(/turkish-site/assets/webp/Rectangle\ 1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 40px;
    transition: all 0.33s;
}

.nav-list li:hover {
    color: var(--bg-button-color);
}

.header-button {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 0 0 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: var(--bg-button-color);
    color: var(--text-color-button);
}

.header-block {
    margin: 135px 0 50px;
    max-width: 750px;
}

.header-title {
    margin: 0 0 20px;
    font-size: 64px;
    font-weight: 700;
    line-height: 82px;
}

.header-description {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.2px;
}

.input-button-container {
    max-width: 502px;
    height: 73px;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: space-between;
    border: 4px solid var(--text-color-button);
    background-color: var(--text-color-button);
    border-radius: 8px;

}

.input-button-container input{
    flex-grow: 1;
    border: none;
    outline: none;
    padding-left: 32px;
}

.input-button{
    justify-content: end;
    border-radius: 8px;
    margin: 0;
    padding: 0 40px 0 40px;
}

@media (width < 1200px) and (width >1000px) {
    .header-title {
        font-size: 56px;
        line-height: 73.5px;
    }
    .header-description {
        font-size: 16px;
        line-height: 28px;
    }
    .input-button-container{
        width: 422px;
    }
}

@media (width < 1000px) {
    .header{
        padding: 35px 10px 0 10px;
    }
    .header-block{
        text-align: center;
    }
    .nav {
        justify-content: end;
    }
    .nav-list {
        display: none;
    }
    .header-title {
        font-size: 42px;
        line-height: 57.5px;
    }
    .header-description {
        font-size: 12px;
        line-height: 23px;
    }
    .input-button-container{
        height: 60px;
        font-size: 14px;
    }
    .input-button{
        padding: 0 18px 0 18px;
    }
}
