.quality-section{
    padding: 120px 0 140px 0;
    text-align: center;
}

.quality-title {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
}

.quality-description {
    font-size: 24px;
    font-weight: 500;
    padding: 0 75px;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}