.quality-section{
    padding: 120px 50px 140px 50px;
    text-align: center;
}

.quality-title {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 30px;
}

.quality-description {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 90px 0;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 80px;
}

.grid-container h2 {
    font-size: 24px;
    font-weight: 700;
}

.grid-container p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.2px;
}

@media (width < 1200px) and (width > 1000px) {
    .grid-container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 1000px) {
    .grid-container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .quality-title {
        font-size: 24px;
    }
    .quality-description{
        font-size: 12px;
        line-height: 22px;
    }
}
