.recommendations {
    padding: 60px 0 60px 0;
    background-color: var(--bg-section-color);
}

.recommendations-text-block {
    text-align: center;
    & > h2, p {
        margin: 0;
    }
    & > h2 {
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 5px;
    }
    & > p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 48px;
    }
}

.recommendations-grid-box {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 36px);
    gap: 24px;
    max-width: 946px;
}

.box {
    display: grid;
    place-items: center;
    width: 170px;
    height: 96px;
    border-radius: 16px;
    background-color: var(--text-color-button);
}

.a {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.b {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.c {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.d {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.e {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.f {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}

.g {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.h {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.i {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

@media (width < 1000px) {
    .recommendations {
        padding: 40px 0 40px 0;
    }

    .recommendations-text-block {
        & > h2 {
            font-size: 36px;
            line-height: 41.5px;
        }

        & > p {
            font-size: 14px;
            margin-bottom: 40px;
        }
    }

    .recommendations-grid-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
