.button {
    border-radius: 5px;
    background-color: var(--button-base-color);
    color: var(--button-base-text-color);
    padding: 10px 20px;
    border: unset;
    font-size: 14px;
    cursor: pointer;
}


.burger {
    --burger-button-size: 32px;
    border: none;
    background: transparent;
    background-image: url(../image/burger-menu.png);
    width: var(--burger-button-size);
    height: var(--burger-button-size);
    cursor: pointer;

    position: relative;

    &:hover > ul {
        display: block;
    }

    & > ul {
        display: none;
        list-style-type: none;
        position: absolute;
        top: var(--burger-button-size);
        left: -12px;

        & li {
            padding: 5px 10px;
            color: var(--button-base-color);
            &:hover {
                transition: var(--base-transition-effect);
            }
        }
    }
}