:root {
    /* size */
    --main-container-lg: 1200px;

    /*  */
    --base-transition-effect: color 0.3s ease;

    /* colors */
    --button-base-color: #F84646;
    --button-base-text-color: #fff;
    --text-base-color: #000;
}