.section9 h1 {
    padding-top: 80px;
    margin-left: 155px;
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    font-family: "Fraunces", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.section9 button{
    cursor: pointer;
    width: 110px;
    height: 27px;
    padding: 0px 0px 0px 0px;
    margin-top: 15px;
    margin-right: 187px;
    background-color: transparent;
    color: #0070A0;
    border: none;
    float: right;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.2px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bloks {
    display: flex;
    margin-left: 155px;
}

.bloks div {
    cursor: pointer;
    margin-right: 32px;
    margin-top: 22px;
    background-color: #fff;
    width: 355px;
    height: 487px;
}

.section9 {
    background-color: #F7F9FA;
    width: 1440px;
    height: 747px;
}

.bloks h4 {
    align-content: center;
    text-align: center;
    height: 22px;
    margin-top: 20px;
    margin-left: 24px;
    margin-bottom: 0px;
    background-color: #E6F7FF;
    color: #2C90C9;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.improvements {
    width: 122px;
}

.tips {
    width: 112px;
}

.news {
    width: 60px;
}

.bloks h2 {
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 0px;
    height: 63px;
    font-size: 25px;
    line-height: 31.3px;
    letter-spacing: 0.2px;
    font-family: "Fraunces", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.round {
    width: 293px;
}

.bloks h3 {
    width: 304px;
    height: 59px;
    margin-top: 10px;
    margin-left: 24px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bloks h5 {
    margin-top: 14px;
    margin-left: 24px;
    width: 88px;
    height: 20px;
    font-size: 12px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}