@import url(styles/basic.css);
@import url(styles/variables.css);
@import url(styles/header.css);
@import url(styles/home.css);
@import url(styles/about.css);
@import url(styles/history.css);
@import url(styles/portfolio.css);
@import url(styles/contacts.css);
@import url(styles/mobile_nav.css);

@font-face {
    font-family: "Roboto-Black";
    src: url(/aivazovski_page/fonts/Roboto-Black.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(/aivazovski_page/fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(/aivazovski_page/fonts/Roboto-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(/aivazovski_page/fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(/aivazovski_page/fonts/Roboto-Thin.ttf);
    font-style: normal;
    font-weight: normal;
}